# Web Framework
fastapi
uvicorn[standard]
python-multipart

# AI & Computer Vision
numpy==1.26.4
opencv-python==4.9.0.80
mediapipe==0.10.9
ultralytics

# Data Analysis
pandas
matplotlib
fastdtw
scipy

# Utilitiesc
httpx>=0.27.0
python-dotenv

# Authentication
passlib[bcrypt]
python-jose[cryptography]

# Vector Database and Embeddings
chromadb
sentence-transformers