/* 온보딩 페이지 전용 스타일 */
main {
  display: flex;
  flec-direction: column;
  align-items: center;
  width: 100%;
}

.home-bg {
    background-image: url('../assets/images/background2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 100%;
}

.logo-box {
    background-image: url('../assets/images/logo2.png');
    width: 280px;
    height: 190px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 250px auto 0 auto;
}